@import url("https://fonts.googleapis.com/css2?family=Roboto");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.submit_btn {
  margin-top: 40px;

  padding: 10px 15px;
  background-color: #f8395a;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 0 10px 3px rgb(117, 117, 117);
  }
}

.favorite {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 2s linear infinite;
}
